{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- Begin Page servicos -->
<div id="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <h1>Nossos Servicos</h1>
                
        </div>
    </div>
</div>
<!-- End Page servico -->



<!-- begin section servicos -->
<section id="servicos" class="py-5">
    <div class="container">
        <div class="row">
            <!-- coluna 1 -->
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header bg-dark text-white">
                        <h3>Jiu-Jitsu</h3>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </h4>
                        <p>Benefícios do Jiu-Jitsu</p>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Melhora da Condição Física
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Perda de Peso
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Melhora da Resiliência Física
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Redução do Estresse
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Desenvolvimento do Autocontrole
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Habilidades de Autodefesa
                            </li>
                        </ul>
                        <a href="{% url 'core:contact' %}" class="btn btn-primary btn-block mt-3">Obter Servico</a>
                    </div>
                    <div class="card-footer text-muted">
                        Consulte a gente
                    </div>
                </div>
            </div>
            <!--end coluna 1-->

            <!-- coluna 2 -->
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header bg-dark text-white">
                        <h3>Defesa Pessoal</h3>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </h4>
                        <p>Aprendendo a se defender</p>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Aumento da Confiança
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Redução do Estresse e Ansiedade
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Desenvolvimento do Autocontrole
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Resiliência Mental
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Empoderamento Pessoal
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Independência
                            </li>
                        </ul>
                        <a href="{% url 'core:contact' %}" class="btn btn-primary btn-block mt-3">Obter Servico</a>
                    </div>
                    <div class="card-footer text-muted">
                        Consulte a gente
                    </div>
                </div>
            </div>
            <!--end coluna 2-->

            <!-- coluna 3-->
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header bg-dark text-white">
                        <h3>Yoga</h3>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </h4>
                        <p>Beneficios Yoga</p>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Aumento da Flexibilidade
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Melhora da Postura
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Melhora da Respiração
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Redução do Estresse
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Melhora do Sono
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Sensação de Paz Interior
                            </li>
                        </ul>
                        <a href="{% url 'core:contact' %}" class="btn btn-primary btn-block mt-3">Obter Servico</a>
                    </div>
                    <div class="card-footer text-muted">
                        Consulte a gente
                    </div>
                </div>
            </div>
            <!--end coluna 3-->
        </div>
    </div>
</section>
<!-- end section servicos -->




<!-- begin Perguntas mais frequentes -->
<section id="faq" class="p-5 bg-gradient-secondary text-white">
    <div class="container">
        <h1 class="text-center mb-5">Perguntas mais frequentes</h1>
        <hr class="mb-5">
        <div class="row">
            <!-- INICIO COLUNA 1 -->
            <div class="col-md-6">
                <!-- accordion-->
                <div class="accordion" id="accordion1">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUm" aria-expanded="false" aria-controls="collapseUm">
                                O que é jiu-jitsu?
                            </button>
                        </h2>
                        <div id="collapseUm" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion1">
                            <div class="accordion-body">
                                O jiu-jitsu é uma arte marcial focada em técnicas de alavanca, imobilizações e
                                submissões, permitindo que uma pessoa menor e mais fraca possa se defender de um
                                oponente maior e mais forte. É uma modalidade completa que desenvolve tanto o físico quanto o mental.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDois" aria-expanded="false" aria-controls="collapseDois">
                                Preciso ter experiência para começar?
                            </button>
                        </h2>
                        <div id="collapseDois" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion1">
                            <div class="accordion-body">
                                Não, nossa academia oferece aulas para todos os níveis, desde iniciantes até
                                avançados. Todo mundo começa do zero, e estamos aqui para ajudar no seu progresso.
                                Nossos professores são especializados em ensinar iniciantes.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTres" aria-expanded="false" aria-controls="collapseTres">
                                Quais são os benefícios de praticar jiu-jitsu?
                            </button>
                        </h2>
                        <div id="collapseTres" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordion1">
                            <div class="accordion-body">
                                Os benefícios incluem melhora da forma física, autoconfiança, disciplina,
                                aprendizado de autodefesa, além de ser uma excelente forma de aliviar o estresse.
                                Também desenvolve coordenação motora, flexibilidade e resistência.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- accordion -->
            </div>
            <!-- FIM COLUNA 1 -->

            <!-- INICIO COLUNA 2 -->
            <div class="col-md-6">
                <!-- accordion-->
                <div class="accordion" id="accordion2">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseQuatro" aria-expanded="false" aria-controls="collapseQuatro">
                                Quanto tempo leva para obter a faixa preta?
                            </button>
                        </h2>
                        <div id="collapseQuatro" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordion2">
                            <div class="accordion-body">
                                O tempo varia de pessoa para pessoa, dependendo da dedicação, frequência de treino e
                                aprendizado. Geralmente, leva de 8 a 12 anos para obter a faixa preta. O importante é focar no aprendizado e na evolução constante.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCinco" aria-expanded="false" aria-controls="collapseCinco">
                                Quais equipamentos são necessários?
                            </button>
                        </h2>
                        <div id="collapseCinco" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordion2">
                            <div class="accordion-body">
                                Para iniciar, você precisará de um kimono (Gi). Oferecemos kimonos para venda na
                                academia. Mais adiante, você pode adquirir outros equipamentos, como rashguards e
                                protetores bucais. Para as primeiras aulas, você pode vir com roupas confortáveis.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeis" aria-expanded="false" aria-controls="collapseSeis">
                                Há um limite de idade para começar?
                            </button>
                        </h2>
                        <div id="collapseSeis" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordion2">
                            <div class="accordion-body">
                                Não há limite de idade. Temos alunos de todas as idades, desde crianças até adultos
                                mais velhos. O jiu-jitsu é uma arte marcial inclusiva para todas as idades. Temos turmas específicas para diferentes faixas etárias.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- accordion -->
            </div>
            <!-- FIM COLUNA 2 -->
        </div>
    </div>
</section>



<!-- end Perguntas mais frente -->

<!-- begin footer-->
 <!-- 
<footer id="main-footer" class="text-center p-4">
    <div class="container">
        <div class="footer-text">
            <p>
                ASBJJ - Academia de Artes Marciais | Este site é desenvolvido com <i class="fa fa-heart" aria-hidden="true"></i> por <a
                    href="https://fabianosf.github.io/fabianosf_/" target="_blank">Fabiano Freitas</a>
            </p>
        </div>
    </div>
</footer>
-->
<!-- end footer-->


{% endblock %}